<h1>Home</h1>
<!-- <form action="/upload/csvupload" enctype="multipart/form-data" method="post">
  <input type="text" name="avatar" placeholder="please upload csv file" />

  <!-- <input type="file" name="avatar" placeholder="please upload csv file" /> -->
<!-- <input type="submit" value="Submit" />
</form> -->

<form action="/upload/csvupload" enctype="multipart/form-data" method="POST">
  <!-- <input type="text" name="dasda" placeholder="please upload csv file" /> -->

  <input type="file" class="admin__input" id="myFile" name="csvFileLoc" />
  <input class="admin__submit" type="submit" />
</form>
